.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: rgb(70, 70, 70);
    mask-size: cover;
}

.icon-menu {
    mask: url(icons/open-menu.svg);
}

.icon-github{
    mask: url(icons/github.svg);
}

.icon-play-btn{
    mask: url(icons/play-button.svg)
}

.icon-clipboard{
    mask: url(icons/clipboard.svg)
}

.icon-tick{
    mask: url(icons/tick.svg)
}

.icon-plus{
    mask: url(icons/plus-sign.svg)
}

.icon-minus{
    mask: url(icons/minus-sign.svg)
}

.icon-divide{
    mask: url(icons/divide-sign.svg)
}